

.box {
  width: auto;
  height: 10px;
  margin: 0.5%;
  background-color: rgb(41, 45, 158);
  padding-left:15%;
  padding-right: 15%;
  margin-bottom: 3.5%;
  
}
.details
{text-align:center;}

.table-design{
  align-items: center;
  padding: 5% 15% 1% 15%;
  height: auto;
}

.payble{
  height: calc(300px - 10vw);
  margin-left: 65%;
  text-ALIGN: RIGHT;
  line-height: 1.2;
  padding-top: 4%;
  /* 
  padding-top: 6.5%;
  padding-right: 5%; */
}

thead{
  color: rgb(41, 45, 158);
  font-size: large;
}

.table-body  tr:nth-child(even) {
    background-color:rgba(0,0,0,.05);
}

.table-body tr td:first-child {
  font-weight: 600;
}

.table-body td:not(:first-child ){
  text-align: end ;
}

.invoice{
  font-weight:bolder;
  padding: 1% 5% 0% 5%;
  font-size:xx-large;
  color: rgb(41, 45, 158);
  text-ALIGN:RIGHT;
}

.submit{
  color: #d32bcb;
  font-weight: 800;
  padding-right: 5% ;
  margin-left: 30%;
}

#notes{
  color: #b5b7ba;
}

#subtotal{
  color: #547fb8;
}

#subtotal-price{
  font-weight: 800;
}

#final-price{
  text-align: end;
  padding-right: 15%;
  color: #c41abd;
}

.sender{
  height: calc(275px - 10vw);
  width: 50%; float: left;
}

.sender-name{
  margin-bottom: 12px;
  color: #6a5ecf;
}

.first-address{
  line-height: 8px;
  color: #636363;
}

.reciever{
  height: calc(300px - 10vw);
  width: 50%; float: left;
}

.reciever-add{
  font-weight: 300;
  padding: 0 auto;
  line-height: 7px;
  width:20vw;
  height: calc(200px - 8vw);
  padding: .5% ;
  background-color: #eeeeee;
}

.reciever-add :last-child{
  margin-bottom: 2%;
}

.top-content{
  padding-left:15%;
  padding-right: 15% ;
}

.payable-table{
  font-weight: 600;
}

.payable-table td + td{
  font-weight: 400;
  text-align: start;
}

.invoice-submitted{
  height: calc(275px - 10vw);
  margin-left: 50%;  
}